#alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    display: none;
}

#categoryCarousel .carousel-item .row {
    justify-content: center;
    padding: 0 60px;

}

.carousel-control-prev,
.carousel-control-next {
    z-index: 5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0d6efd;
    border-radius: 50%;
    background-size: 50% 50%;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
    .card {
        height: 450px;
    }

    .card-title{
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .card{
        height: 250px;
    }

    .card-title{
        font-size: 10px;
    }

    #card-category{
        font-size: 10px;
    }

    .card-text{
        font-size: 8px;
    }

    #search-title{
        font-size: 12px;
    }

    #category-title{
        font-size: 12px;
    }

    .carousel-item .card-body{
        width: fit-content;
        padding: 6px;
        overflow-wrap: normal;
        font-size: 6px;
    }
}